[2016-04-21 13:01] timv88 opened #4 "missing <base>"
https://developer.mozilla.org/en/docs/Web/HTML/Element/base

[2016-04-21 14:16] silenceisgolden opened #5 "Order is important"
I believe it is still best practice to get the charset and ie=edge tags in the first packet received by the browser. Could the order-dependent things like this be highlighted in a section?

[2016-04-21 15:23] oskarkrawczyk opened #6 "150 chars not words"
`<meta name="description" content="150 words">` should be `chars` not `words`.

[2016-04-21 19:03] joshbuchea commented on #4
Added. Thanks @timv88!

[2016-04-21 19:03] #4 closed

[2016-04-21 19:28] #6 closed

[2016-04-21 19:29] joshbuchea commented on #6
Thanks @oskarkrawczyk & @sarbbottam!

[2016-04-21 21:54] jonassalen opened #11 "Chrome for android"
Colour notification bar:
https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android

[2016-04-21 22:16] joshbuchea commented on #11
Already added by @SaijoGeorge in this [commit](https://github.com/joshbuchea/HEAD/commit/0ecf786128d958823c5038730386fe1a53f910a9). Thanks @jonassalen!

[2016-04-21 22:16] #11 closed

[2016-04-21 22:51] radicalbender opened #12 "Sizes attribute for apple-touch-icon?"
Is it worth noting that the apple-touch-icon can be defined multiple times for different sizes through either the file name or the `sizes` attribute?

For instance, [Real Favicon Generator](https://realfavicongenerator.net/blog/apple-touch-icon-the-good-the-bad-the-ugly/) spits out icons at 57x57, 60x60, 72x72, 76x76, 114x114, 120x120, 144x144, 152x152, and 180x180 to cover the gamut of iOS icon s

[2016-04-21 23:06] jasonkarns opened #13 "OEmbed"
http://oembed.com/

The generic, standard spec for embedding rich data about links without coupling to site specific (Facebook, Twitter, etc)  elements

[2016-04-21 23:07] jasonkarns opened #14 "Open id"
Claim ownership of a url and use as identity

http://openid.net/

[2016-04-21 23:10] jasonkarns opened #15 "Dublin Core metadata"
A more comprehensive grammar of attributes for richer metadata information.

http://dublincore.org/documents/dcq-html/

[2016-04-21 23:25] jasonkarns opened #16 "IndieAuth"
https://indieauth.com/

IndieAuth is a way to use your own domain name to sign in to websites. It works by linking your website to one or more authentication providers such as Twitter or Google, then entering your domain name in the login form on websites that support IndieAuth.

[2016-04-21 23:28] jasonkarns opened #17 "WebMentions"
https://github.com/converspace/webmention

Webmention is a simple way to automatically notify any URL when you link to it on your site. From the receivers perpective, it's a way to request notification when other sites link to it.

It’s a modern alternative to Pingback and other forms of Linkback.

Note that the latest, most up-to-date specification is located on the IndieWebCamp wiki.

Of course,

[2016-04-21 23:29] jasonkarns opened #18 "OpenSearch"
http://www.opensearch.org/Home

Link to the opensearch xml manifest in the HEAD and this allows browsers to trigger a search on your site directly from their address bar.

That's how this works:
![image](https://cloud.githubusercontent.com/assets/119972/14727285/61e22bc2-07f7-11e6-815b-9de4323ea83b.png)

[2016-04-21 23:32] jasonkarns opened #19 "Micropub"
http://micropub.net/
http://indiewebcamp.com/micropub
https://www.w3.org/TR/micropub/#html-link-tag

Enables posting small notes/articles/snippets to your own domain.

[2016-04-21 23:37] jasonkarns opened #20 "rel-me"
A subset of the XFN microformat

http://microformats.org/wiki/rel-me

[code]

also related: http://microformats.org/wiki/RelMeAuth and http://microformats.org/wiki/web_sign-in

[2016-04-21 23:44] kylewm commented on #17
The most up-to-date spec for Webmention these days is https://www.w3.org/TR/webmention/ :+1:

[2016-04-22 00:14] #17 closed

[2016-04-22 09:40] fvsch opened #26 "Script element section"
It's probably worth expanding on the script element.

At the very least I'd mention that `<script src="..."></script>` blocks content rendering while the script loads and executes, and add a non-blocking example with `<script async src="..."></script>`.

The scope of this project is not to explain every feature of each element that can go in `<head>`, but for important features it's probably a goo

[2016-04-22 10:28] Anachron opened #27 "See also: ParisHilton.js"
https://github.com/fbrandel/ParisHilton.js

[2016-04-22 14:19] pbakondy opened #29 "Add meta name="SKYPE_TOOLBAR""
Prevent Skype from Highlighting Phone Numbers

[code]

See: http://bacsoftwareconsulting.com/blog/index.php/web-development/prevent-skype-from-highlighting-phone-numbers/

[2016-04-22 14:43] joshbuchea commented on #5
Excellent point. Absolutely, will add. Thanks @silenceisgolden!

[2016-04-22 14:43] joshbuchea commented on #5
Oops didn't mean to close it yet.

[2016-04-22 14:44] joshbuchea commented on #26
Excellent points. Will add. Thanks @fvsch!

[2016-04-22 16:29] artemgurzhii opened #31 "HTML head elements description"
People would like to know where to use each of this elements and why. It would be nice if you added a description for unknown elements

[2016-04-22 17:03] joshbuchea commented on #27
Closing since this is a link, not an issue. Interesting project.

[2016-04-22 17:03] #27 closed

[2016-04-22 17:44] #29 closed

[2016-04-22 17:44] joshbuchea commented on #29
Found a more accurate description [here](https://wiki.whatwg.org/wiki/MetaExtensions):

Looks good though 👍 Added. Thanks @pbakondy!

[2016-04-23 01:03] dareenzo opened #35 "dns prefetching-preloading-prebrowsing"
For google chrome they now have these [dns-prefetch](https://css-tricks.com/prefetching-preloading-prebrowsing/) rules to optimize page perf load time, so I'd suggest you check it out and add.

Also I'd suggest adding [app links](http://applinks.org/documentation) and [schema.org](http://schema.org/)

In addition, I had made thing like this before called [seo-fu](https://github.com/dareenzo/seo-fu

[2016-04-24 05:02] #35 closed

[2016-04-24 05:03] joshbuchea commented on #35
Excellent suggestions @dareenzo! I added prefetching, preloading, prebrowsing, and I'll open new issues for [app links](http://applinks.org/documentation) and [schema.org](http://schema.org/).

I checked out your project [seo-fu](https://github.com/dareenzo/seo-fu/blob/master/seo-fu.html). Very cool. You have a lot that I don't have, I'll likely use it as a source when updating this project. Thank

[2016-04-24 05:07] joshbuchea opened #41 "App Links"
[App Links](http://applinks.org/): Cross-platform, open source, and simple mobile deep-linking

[2016-04-24 05:21] joshbuchea opened #42 "schema.org"
[schema.org](http://schema.org/)

[2016-04-24 16:52] #5 closed

[2016-04-24 16:53] joshbuchea commented on #12
Absolutely! I'll get this added. Thanks @radicalbender!

[2016-04-24 21:23] ses opened #44 "Publishing App Link metadata"
http://applinks.org/documentation/

or
https://developers.facebook.com/docs/applinks/add-to-content

[2016-04-25 05:22] TraderStf opened #45 "Few more"
sorry, did not clean some known types

https://wiki.whatwg.org/wiki/MetaExtensions

https://en.wikipedia.org/wiki/Microformat
https://en.wikipedia.org/wiki/RDFa
http://ogp.me/#
https://en.wikipedia.org/wiki/Microdata_(HTML)

https://foolip.org/microdatajs/live/
https://validator.nu

https://en.wikipedia.org/wiki/Semantic_Web
https://en.wikipedia.org/wiki/Semantic_HTML

http://www.w3.org/TR/html5/

[2016-04-25 11:25] TraderStf commented on #45
<link rel="publisher" href="http://plus.google.com/+THEgooglePLUSname" />
http://www.vervesearch.com/blog/how-to-implement-the-relpublisher-google-authorship-mark-up/

Also

http://applinks.org/documentation/
Cross-platform, open source, and simple mobile deep-linking

[2016-04-25 11:44] TraderStf commented on #45
What you got on twitter if you redirect to handheld device (link inside normal view (not handheld)).

`<?xml version="1.0" encoding="utf-8"?>`
`<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile11.dtd">`
`<html xmlns="http://www.w3.org/1999/xhtml">`
`<head>`
`<meta name="HandheldFriendly" content="True" />`
`<meta name="viewport"

[2016-04-25 15:30] whawker commented on #45
@TraderStf FYI you can do [multi line code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) by surrounding the block with three back ticks.

[2016-04-25 15:45] TraderStf commented on #45
does not work... only see 3 first line then twitter only........

[2016-04-25 16:26] Mxxim commented on #31
+1

[2016-04-25 18:24] scottaohara opened #46 "additional google meta elements"
meta name="google"
meta name="googlebot"
meta name="google-site-verification"

https://support.google.com/webmasters/answer/79812?hl=en

[2016-04-26 03:51] #46 closed

[2016-04-26 03:52] joshbuchea commented on #46
Added. Thanks @scottaohara!

[2016-04-26 23:02] joshbuchea commented on #31
@artemgurzhii A description for unknown elements sounds great! It will require a bit of balance to add additional information without making the document too overwhelming. I've already begun adding additional info to some elements, but feel free to submit a pull request also! Thanks @artemgurzhii!

[2016-04-26 23:02] #31 closed

[2016-04-26 23:20] #41 closed

[2016-04-26 23:20] #44 closed

[2016-04-28 05:15] xc2 commented on #5
Besides, a meta tag with attribute `charset`  must be within the 512 first bytes of the page.

[meta#attr-charset](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta#attr-charset)

[2016-04-28 07:28] ses opened #50 "more info comments"
hi,

mega thanks for the HEAD build!
but we need more info comments description for the lines!

thanks!

[2016-04-28 09:43] TraderStf opened #51 "Curated Sample HEAD"
Here is an example of a curated HEAD.
I will give some explanations later or check the respective sites, twitter, fb

NOTE
- html5, quotes are no more required unless special chars : = ; / (script-type neither)
- the order of the first line is important for some problematic search engines
- not all tags are required for twitter, twitter can understand some usual one or og:
- some twitter content a

[2016-04-28 12:36] artemgurzhii opened #52 "http-equiv"
`<meta http-equiv="Content-language" content="en-GB"> `
Specifying the document language. It can be used by search engines when indexing pages.
`<meta http-equiv="Content-type" content="text/html>`
Specify the type of document.
Both of them used by some search engines.

[2016-04-29 07:28] plexus commented on #51
[code]

Why put both? As I understood it the first version was standardized in HTML5 because it already worked in older browsers, because parsers looking at the second line will just scan until they find "charset=utf-8".

[2016-04-29 07:55] TraderStf commented on #51
Bug in old browser, when you know several dozen of percents of users are still under Xp...

I regret I did not keep the references of all these exceptions still required for compatibility.
But for sure, it's required, I made that head very carefully, just for fun.

[2016-04-29 08:15] plexus commented on #51
Seems you're right, just tried this W3C test in a bunch of old and new browsers

https://www.w3.org/International/tests/html-css/generate?test=character-encoding-009

Results:

https://www.browserstack.com/screenshots/a6ba97653b86cab632a9e6d84a117cc91f7b45f9

But surely then you can drop the HTML5 one and just keep the http-equiv version?

[2016-04-29 08:16] TraderStf opened #53 "Favicon section is not up-to-date"
Why keeping the favicon section just for MS?

- missing android, apple, browsers, new sizes for ms ie 11...
As explained in #51, the order is important, some are omitted because other icons can be used automatically...
bitsofco.de is also omitting a lot of cases and bugs-workarounds.

In #51, I think, the only missing are the new sizes for MS IE 11.

[2016-04-29 08:22] TraderStf commented on #51
If I kept both, there is a reason. old-browser, server or site-checker.

In the case it was only to make 'well-known' site-checkers happy, it's because some were 'incorrect' and also to make the clients happy to see they are 100% compliant.

[2016-04-29 08:50] TraderStf commented on #51
@plexus My head is a summary of all the spaghetti requirements I have found, trying to please all browsers/OS/devices in one single minimum block and to get the best result, e.g. not resize an icon.

Even putting all existing meta/link/equiv... in the head would not always give the good results.
Look at the favicon.
Some browsers will stop at the first icon they can handle and if required resize i

[2016-04-29 10:18] TraderStf commented on #51
Here some extra info restrictions:

http://www.w3.org/TR/html5/document-metadata.html#character-encoding-declaration

The element containing the character encoding declaration must be serialized completely within the first 1024 bytes of the document.

In addition, due to a number of restrictions on meta elements, there can only be one meta-based character encoding declaration per document.

If an

[2016-04-29 10:28] TraderStf commented on #51
```<link href=mynice.css rel=stylesheet type="text/css" media=all>```
can be reduced to as they are the default values.
```<link href=mynice.css rel=stylesheet>```

Though need to check if it's compatible, correctly supported by all browsers. Hi M$!

[2016-05-01 03:35] Mortiferr opened #56 "Windows 9.1"
I guess I completely missed Windows 9 :laughing:

## Microsoft Internet Explorer

[code]

Believe that should probably be changed

[2016-05-01 08:16] TraderStf opened #57 "What about all 'doctype'"
Not really in the head tag, but in the head of the html :-)
Still some even for html5, see w3org to support old browsers I think.

[code]

[2016-05-01 21:18] joshbuchea commented on #57
So I have to limit the scope of this project at some level, and limiting it to elements within the `<head></head>` tags is where I landed.

Not planning on adding any doc type info currently. Also, I'm considering narrowing the scope further to HTML5.

Thanks for the information though @TraderStf!

[2016-05-01 21:41] joshbuchea commented on #50
You're welcome :-) I agree, and that is the plan. It is a work in progress though and will happen over time, as opposed to all at once. Thanks for your input @ses!

[2016-05-01 21:41] #50 closed

[2016-05-02 19:02] TraderStf commented on #53
http://iconogen.com

[2016-05-02 21:06] BlackSkorpio commented on #52
This is depreciated in HTML5

https://www.w3.org/International/questions/qa-http-and-lang

Instead you are recommended to use `<html lang="en">`

[2016-05-02 21:07] artemgurzhii commented on #52
@BlackSkorpio didn't know that. what about Content-type?

[2016-05-02 21:16] BlackSkorpio commented on #52
@artemgurzhii You can use both `<meta charset="utf-8" />` and `<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />` In HTML5, they are equivalent.
Use the shorter one `<meta charset="utf-8" />`, it is easier to remember and type. [Browser support is fine](http://code.google.com/p/doctype-mirror/wiki/MetaCharsetAttribute) since it was designed for backwards compatibility.

[2016-05-02 21:17] artemgurzhii commented on #52
@BlackSkorpio ok, thanks)

[2016-05-02 21:17] #52 closed

[2016-05-03 05:01] joshbuchea commented on #20
All documentation for `rel="me"` indicates it's for hyperlinks. If you can locate a proper reference indicating it's use with the link element, I'd be happy to add this. Thanks @jasonkarns!

[2016-05-03 05:07] TraderStf commented on #20
http://www.w3schools.com/tags/att_link_rel.asp, this one is clear
also in w3.org

[2016-05-03 05:18] joshbuchea commented on #20
@TraderStr this thread is about `rel="me"`. I don't see `rel="me"` in the documentation you referenced. Also, I don't consider W3Schools to be an authoritative source. Thanks for your comment through!

[2016-05-03 05:32] joshbuchea commented on #45
@TraderStf this doesn't appear to be an actionable issue. Please keep issues limited to one element, or one set of elements per issue.

[2016-05-03 05:33] #45 closed

[2016-05-03 12:46] jasonkarns commented on #20
There's nothing specific about `a`. The HTML spec defines both `link` and `a` as "hyperlinks". (Because they both are hypertext links.) Note the terminology used when describing the attributes of `link`: https://html.spec.whatwg.org/multipage/semantics.html#the-link-element

The @rel attribute is documented for both `link` elements and `a` anchors. The definition of `rel` is:

The rel=me standard

[2016-05-03 13:29] TraderStf commented on #20
seems like a huge 'pot':
http://w3c.github.io/html/single-page.html#design-notes-extensibility
http://w3c.github.io/html/single-page.html#link-types-extensions-to-the-predefined-set-of-link-type
http://microformats.org/wiki/existing-rel-values#HTML5_link_type_extensions
http://microformats.org/wiki/rel-faq

[2016-05-03 14:37] #18 closed

[2016-05-03 14:40] joshbuchea commented on #18
Looks like this one was already in there. Updated the example to make it a bit more clear. Thanks @jasonkarns!

[2016-05-03 16:49] joshbuchea commented on #20
Excellent points. I'll go ahead and add this 👍 Thanks @jasonkarns!

[2016-05-03 16:55] #16 closed

[2016-05-03 16:55] #20 closed

[2016-05-03 16:56] scottaohara opened #59 "Section for legacy or situational meta?"
In doing a bunch of research on meta elements, I was thinking that it may make sense to section out some of the meta content into different buckets of usefulness / don't-use categories.

For example, the following meta data I've found to not really be recommended for inclusion in the head, as there are better ways to declare this sort of information:

[code]
Used to declare a language for the docu

[2016-05-03 17:56] kevinSuttle opened #61 "Feel free to use"
I used to keep a list of meta tags in the following gist. I believe you have most if not all, but if not, help yourself.
https://gist.github.com/kevinSuttle/1997924

[2016-05-04 08:14] TraderStf commented on #51
Updated to put IE on top as recommended, google it, based on @joshbuchea note.
MS sites are with
[code]

[2016-05-04 14:12] joshbuchea commented on #61
@kevinSuttle I actually left you a comment on your gist a couple of weeks ago thanking you for your gist. It was one of the resources I used to compile the original version of this doc. Thanks for the great resource!

[2016-05-04 14:14] #61 closed

[2016-05-04 14:25] joshbuchea commented on #59
I couldn't agree with you more @scottaohara! All excellent points. If you'd like to submit one or more PRs for this, I'd gladly accept 😄 And I'll work on adding these in if I don't see a PR for them. Thanks @scottaohara!

[2016-05-04 14:48] kevinSuttle commented on #61
Awesome! Glad to help. Nice work here!

[2016-05-04 15:05] scottaohara commented on #59
Again, thank you to both @joshbuchea and @khaosdoctor.

Very happy to help out as I can here.

[2016-05-04 15:19] joshbuchea commented on #59
Thanks @scottaohara and @khaosdoctor! Definitely appreciate the help.

[2016-05-04 15:19] #59 closed

[2016-05-05 21:50] jasonkarns commented on #16
sweet!

[2016-05-05 21:51] jasonkarns commented on #20
Thanks @joshbuchea for taking on the actual work from my drive-by suggestions :)

[2016-05-05 21:52] jasonkarns commented on #18
nice! sorry I missed it

[2016-05-07 06:56] TraderStf commented on #53
http://blog.iconfactory.com/2015/11/the-new-favicon/

[2016-05-12 21:40] lewisje opened #73 "I thought meta-keywords was deprecated."
At least I thought that all search engines had stopped using it in any way for years.

[2016-05-14 13:50] JesseTG commented on #73
Oh, no, no, `<meta>` is alive and kicking,

[2016-05-14 14:01] uppusaikiran commented on #73
The <meta> tag provides metadata about the HTML document. Metadata will not be displayed on the page, but will be machine parsable. Meta elements are typically used to specify page description, keywords, author of the document, last modified, and other metadata.Meta tags are snippets of text that describe a page's content; the meta tags don't appear on the page itself, but only in the page's code.

[2016-05-14 15:20] lode commented on #73
I think @lewisje means the `<meta name="keywords" ...` tag.

[2016-05-14 15:52] uppusaikiran commented on #73
It helps in indexing the page while crawling for search engines @lode

[2016-05-14 17:47] lode commented on #73
As far as I know (but note the topic was broad up by @lewisje - and I just guess at what he meant), search engines don't use the keywords anymore. Or if they do, to an almost negligible extend.

See https://webmasters.googleblog.com/2009/09/google-does-not-use-keywords-meta-tag.html and https://chrisedwards.me/seo/keyword-meta-tag-google/

I don't if that is enough reason to not include them in th

[2016-05-15 00:12] lewisje commented on #73
Yes I was specifically talking about the `meta` tag with `name="keywords"` and upon re-reading the living standard, I find it's actually not deprecated; instead there's a note that says that search engines don't use it anymore because of problems with spam: https://html.spec.whatwg.org/multipage/semantics.html#meta-keywords

[2016-05-15 00:12] #73 closed

[2016-05-15 05:54] uppusaikiran commented on #73
@lewisje  Thanks for letting know

[2016-05-23 13:15] marakoss opened #78 "Claim that meta robots is ignored by search engines"
Since when does search engines ignore robots in meta tags? I can provide statistical data that they follow it pretty strictly.

If you claim something is deprecated you should provide article that supports your statement and date since when it came to be.

Maybe you shouldn't use the word deprecated at all and just stick to something like: "I/we discourage to use".

Thank you

[2016-05-23 13:28] 4thana opened #79 "meta name=robots is not deprecated"
AFAIK meta name=robots is still the preferred way to tell Google and other search engines to crawl and/or include a page in their index or not. It is also neither deprecated nor is it ignored by the crawlers.

Your mentioned alternatives do something completely different. If you want to remove pages from the Google index for example it doesn't help to prevent the bot from accessing the pages (eith

[2016-05-23 13:42] coliff commented on #51
meta name=keywords is not needed AFAIK. I don't think any search engines use that at all.

[2016-05-23 19:50] joshbuchea commented on #79
@4thana this was modified in a PR that I apparently didn't review close enough. You are absolutely correct. Will update.

[2016-05-23 19:52] joshbuchea commented on #78
@marakoss this was modified in a PR that I apparently didn't review close enough. You are absolutely correct. Will update. Also, going with your recommendation to be more conservative using the word **deprecated**.

[2016-05-23 19:53] #78 closed

[2016-05-23 19:53] #79 closed

[2016-05-23 20:05] JamesJosephFinn opened #81 "<meta name="robots" content="noodp">"
You should add:

`<meta name="robots" content="noodp">`

to turn off getting your meta description and other data from DMOZ, and other defunct directories.

[2016-05-23 22:12] Mortiferr commented on #56
I guess this got fixed...

[2016-05-23 22:12] #56 closed

[2016-05-23 22:43] joshbuchea commented on #51
Closing as this is very broad. Thanks for the info & discussion!

[2016-05-23 22:43] #51 closed

[2016-05-23 22:47] joshbuchea commented on #12
Closing, included in #53. Thanks!

[2016-05-23 22:47] #12 closed

[2016-05-23 23:48] joshbuchea commented on #81
Closing. While the value you listed is legit, I don't intend to add every possible value for every tag in the document. Thanks @JamesJosephFinn I appreciate all contributions!

[2016-05-23 23:48] #81 closed

[2016-05-23 23:52] joshbuchea commented on #81
On second thought, I'll add this. Thanks @JamesJosephFinn!

[2016-05-23 23:59] joshbuchea commented on #13
Closing, because I spent a few minutes researching and it wasn't immediately obvious where I would include this. Feel free to re-open @jasonkarns if you'd like to provide an example.

[2016-05-23 23:59] #13 closed

[2016-05-24 03:11] garycourt commented on #26
Don't forget about the new `<script type="module">` for ES6 Module loading.

[2016-05-24 14:00] jasonkarns commented on #13
Quick examples taken from oembed docs page:

[code]

Only one of those is necessary; so we could probably just showcase the json variant.

As a `link`, it could be listed under the Link section. But it is intended to direct one to an oembed file which is used as media embedding/sharing. So it would make sense to list under the Social section as well. Pick one and I'll open a PR.

[2016-05-25 16:22] apsoto opened #89 "add explanation for each item"
This is great work, but it would be great if each item has an explanation for the reason to use (or not).  Some items may not apply in particular cases and having an explanation would help decide when to use it.

One example, if I'm not providing a feed, then `alternate` links would not apply.

[2016-05-26 08:41] emattiazzi opened #90 "Meta tag keywords"
`<meta name="keywords" content="your,keywords,here,comma,separated,no,spaces">`

Seems that this meta is no longer used by search engines

[2016-05-26 09:28] lode commented on #90
See https://github.com/joshbuchea/HEAD/issues/73

[2016-05-26 19:41] dandart opened #91 "Dissuade <meta name="generator"....>"
I have seen <meta name="generator"...> used before, is it not an anti-recommendation?

[2016-05-27 01:49] dcondrey commented on #90
Google does not use the keywords meta tag any longer https://webmasters.googleblog.com/2009/09/google-does-not-use-keywords-meta-tag.html

[2016-05-27 01:56] dcondrey opened #93 "Unlicense"
Recommend changing licensing to http://unlicense.org/ since this is merely a reference list.

[2016-05-27 12:23] scunliffe opened #94 "Move Apple created but now generic meta tags to their own section?"
Thinks like the meta tag for not rendering phone numbers as links to call were presented by Apple for iOS etc. but they've been adopted by other vendors both within WebKit and outside. E.g. The phone number one above is also used by Microsoft Edge http://stackoverflow.com/a/31978712/6144

[2016-05-28 18:38] technodix commented on #89
@apsoto I agree. Perhaps dividing the entire reference list into Common and Uncommon sections. Within those sections, divide the tags by use cases (like they already sort of are).

[2016-05-28 18:42] jordanbrauer opened #97 "Add table of contents and back to top links at the end of each section"
I feel that scrolling through this is a little much, especially as it evolves.
Would adding a 'navigation system' of sorts to the README be allowed? (Sorry, new to GitHub and not sure on the etiquette for making pull requests).

[2016-05-28 19:56] joshbuchea opened #98 "Info about gzip + attribute order"
@marcobiedermann raised an important issue with #80 regarding gzip and attribute order. Per @scottaohara's recommendation, I would like to:

It would be great if @marcobiedermann wanted to tackle this. But, I'll go ahead and through a **help wanted** label on it in case anyone else would like to submit a PR. Thanks!

[2016-05-28 20:06] #90 closed

[2016-05-28 20:09] #94 closed

[2016-05-28 20:10] joshbuchea commented on #94
Excellent point 👍 Thanks @scunliffe!

[2016-05-28 20:11] joshbuchea commented on #90
Got this updated. Thanks guys!

[2016-05-28 20:12] joshbuchea commented on #91
@dandart could you please elaborate?

[2016-05-28 20:16] joshbuchea commented on #89
Seems others would like to see this as well. I think this is a great idea! However, I think this is the kind of thing that happens over time. If people would like to begin submitting pull requests, we can get started on this. Please keep comments short & sweet so I can accept them!

[2016-05-28 21:33] apsoto commented on #89
@joshbuchea yep, I don't consider myself enough of an expert with front-end, otherwise I would have :)

[2016-05-28 22:50] #98 closed

[2016-05-29 00:50] dandart commented on #91
I've seen generator around before, mainly on old frontpage-related sites. I thought it ought to be featured since it exists, but dissuaded since it's not a standard and/or doesn't add anything.

[2016-05-30 05:36] vonrac commented on #91
The W3C lists it as a possibility, and no top-ranking websites speak against it. That said, it's very close to useless.

[2016-05-30 06:09] #91 closed

[2016-05-30 06:09] joshbuchea commented on #91
Got this added. Thanks @dandart!

[2016-05-30 06:49] vonrac commented on #93
Another solution is [CC0](https://creativecommons.org/about/cc0/). I've known CC for years but only found out about Unlicense now.

[2016-05-30 07:23] #93 closed

[2016-05-30 07:23] joshbuchea commented on #93
Great suggestions! Thanks @dcondrey & @vonrac!

[2016-05-30 08:29] tomlutzenberger commented on #97
I think this is a great idea, not only because h2 and h3 Header look quite similar.

Regarding pull requests:
- Make a fork of the repository
- Make your desired changes and commit + push
- In your forked Repo, click "New pull request"

Hope this helps :grin:

[2016-05-30 14:38] tomlutzenberger commented on #91
I think one reason, to **not recommend** meta-generator is security related.

Imagine someone running a website based on an old Typo3 or Wordpress Version.
You reveal something like `generator="Typo3 4.5" ` an actually invite hackers to tear down your site.
It's like putting a big sign in your front-yard, saying

You wouldn't do that, would you?
Of course, there are many ways to find out what your

[2016-05-30 23:23] joshbuchea commented on #97
@jordanbrauer apologies for not getting back to you sooner. Asking before implementing seems like good etiquette to me 👍 A table of contents at the top, with links to the various sections would excellent!

Maybe leave out the link to the top for each section though... Just to minimize the number of lines we're adding to the project.

[2016-05-31 01:08] jordanbrauer commented on #97
@joshbuchea I hear ya' loud and clear! It would be pretty bloaty...

@tomlutzenberger Thanks, I will keep that in mind for the future! I just don't wanna offend anyone or step out of my bounds as a contributor.

[2016-05-31 04:44] niksmac commented on #89
IMO, lets do not complicate the simplicity of the page. What about creating another file with full details? This page need to be so minimal as it is now.

[2016-05-31 05:22] chrisbo commented on #89
IMO. One page, in order and well commented

[2016-05-31 07:03] dodekeract commented on #89
@niksmac I think we should probably just add a `[explanation](explanation.md#something)` to every point. That'd be the best of both.

[2016-05-31 07:48] tomlutzenberger commented on #89
Guys.... why not use the Wiki?
That's what it's made for :wink:

[2016-05-31 08:24] dodekeract commented on #89
@tomlutzenberger sure, that's possible too, however I think it'd be basically useless if the entries don't link to the wiki/explanation.

[2016-05-31 08:42] tomlutzenberger commented on #89
@dodekeract: Of course they should be linked. Other projects do it as well.

[2016-05-31 18:37] joshbuchea commented on #89
Ok, some valid points & suggestions here. The README is growing to be unwieldy rather quickly. I'd like to consider and/or discuss this a bit more. Removed the help wanted label for now.

[2016-05-31 18:54] JoshuaHess opened #104 "Give a warning if the tag in particular is deprecated or no longer supported"
This is a great list, however, a lot of the meta tags listed are tags that aren't supported by many popular search engines anymore, along with other tags in the list. Perhaps just a note to the side saying either supported or not supported/deprecated.

[2016-05-31 18:59] joshbuchea commented on #97
@jordanbrauer I think just being conscious of your etiquette as you are, is all anyone can realistically expect from a contributor. Thanks again for your contribution.

[2016-05-31 18:59] #97 closed

[2016-05-31 19:16] tomlutzenberger commented on #89
I think, there are 2 options.

- A Wiki [(GitHub help section)](https://help.github.com/articles/about-github-wikis/):

- [GitHub Pages](https://help.github.com/articles/what-are-github-pages/)

Both options have some benefits:
1. Separated Documentation
2. Prevents *"unnecessary"* commits

IMHO: I would prefer/recommend the wiki, as GitHub Pages need a second branch and therefore need commits as

[2016-05-31 19:56] dodekeract commented on #89
@tomlutzenberger both have a huge disadvantage compared to an `explanation.md`. You **can't clone them**. Maybe it'd be possible for the `gh-pages`, but then you'd have to setup a server or use your browser to view them.

Additionally, this project kind of only consists of documentation, so I don't think the **additional documentation** really counts as an argument in this case, since it's basical

[2016-05-31 20:00] dodekeract commented on #93
@joshbuchea while I don't think anybody will file a claim (or that it's even possible), beware that you can't just change the LICENSE if you have random contributors, since they didn't agree on giving you their work for publishing under a different license. In the future I'd suggest you to avoid doing that or letting people agree to a "collaboration policy" before accepting pull requests.

[2016-05-31 20:29] joshbuchea commented on #91
@tomlutzenberger I generally agree with you. However, generator is actively used by WordPress today, and [Hide the Version of WordPress to Improve Security, or NOT?](https://www.wpwhitesecurity.com/wordpress-security/hide-wordpress-version-does-it-matter/). Also, it is an [HTML5 standardized metadata name](https://www.w3.org/TR/html5/document-metadata.html#standard-metadata-names).

I think @vonra

[2016-05-31 20:40] joshbuchea commented on #91
All that said, that tag makes me cringe a little when I see it 😬

[2016-05-31 20:46] joshbuchea commented on #93
@dodekeract thanks for pointing this out! This is my first experience maintaining a popular project and accepting pull requests from so many contributors. In the future I will avoid changing the license on a project after accepting contributions from others.

Any other advice is welcome. Thank you.

[2016-05-31 20:46] tomlutzenberger commented on #91
Me too.
So... what are you gonna do? Leave it untouched? :confused:

I just don't see any benefit using it.

[2016-05-31 21:00] joshbuchea commented on #91
Until a top-ranking site speaks against, I think I should leave it where it is. I try to roll with the general web development consensus as much as possible. And there doesn't seem to be a strong consensus either way on this one.

Sorry homie I know this one bothers you. Just pretend it isn't there 😆 Or talk someone prominent into writing about why it shouldn't be used.

[2016-05-31 21:12] joshbuchea commented on #104
@JoshuaHess did your PR #105 satisfy this issue? Or are there still other elements that need notes/comments?

[2016-05-31 21:17] tomlutzenberger commented on #91
Alright, I see your point.

 \*calls Sundar Pichai\* :phone: :laughing:

[2016-05-31 21:39] JoshuaHess commented on #104
@jochbuchea I can work tonight on fixing the meta tags to show which ones are deprecated, but there are link tags and all sorts of others on the list that aren't normally used or have been abandoned over time.

[2016-06-01 00:35] suissa opened #106 "Translation - Brazilian Portuguese"
Can I PR my translation? https://github.com/Webschool-io/HEAD/tree/pt-BR

[2016-06-01 00:52] suissa commented on #106
Merged here https://github.com/Webschool-io/HEAD

[2016-06-01 11:09] wstmn opened #107 "wait"
this will convince people to put several megabytes of boilerplate structure in their documents for absolutely no gain

[2016-06-01 12:15] dodekeract commented on #107
How is this even an issue?

[2016-06-01 12:29] FFMG commented on #107
First of all, this is not an issue, but rather an opinion.
And secondly, there are many way people can shoot themselves in the foot in HTML, having a well documented HEAD section is not the end of the world.

[2016-06-01 13:40] wstmn commented on #107
but you shouldn't have 100 lines of meta tags

[2016-06-01 14:25] dodekeract commented on #107
@wstmn first of all - this project just documents what is possible, it doesn't force you to use anything. In addition to that, even if you do decide to use 100 lines, that would probably be about 10 kB... Not sure where you get that several megabytes from. Also it's stupid to prevent documentation because somebody may use it in a dumb way. This project is AFAIK completely unopinionated and what yo

[2016-06-01 14:35] jordandobson commented on #107
There are plenty of small snippets in here I've pulled out of this into my
own projects that I wouldn't have known about or would have taken a lot
more discovery to find.

This isn't a recommendation of what to include just things that you can.

It's like walking into a bakery and saying "I can't eat all of this!?!!"
On Wed, Jun 1, 2016 at 7:25 AM Florian Wendelborn <notifications@github.com>
wrot

[2016-06-01 16:24] lode commented on #107
What we of course could improve is adding some more documentation of when to add some tag / when not.

[2016-06-01 16:31] jordanbrauer commented on #107
@lode this. :)
Check out [#89](https://github.com/joshbuchea/HEAD/issues/89)

[2016-06-01 19:31] wstmn commented on #107
ye

[2016-06-01 19:58] dodekeract commented on #107
Can somebody (@joshbuchea, please) close this? I think this is the first GitHub troll I've ever encountered.

[2016-06-01 21:04] joshbuchea commented on #107
Haha :trollface:

[2016-06-01 21:04] #107 closed

[2016-06-01 21:12] joshbuchea commented on #104
Ok, we'll keep this open then.

[2016-06-02 16:37] joshbuchea commented on #106
@suissa apologies for not getting back to you sooner. This is awesome! I'd prefer to keep the maintenance on my project to a minimum so I'm resisting adding any new files for as long as I can. But, I would love to link to this if you'd like to maintain this translation in your own repo. Really hope you're up for that. It would be excellent to have this translation available to the community.

[2016-06-03 02:34] dcondrey commented on #15
[https://github.com/dcondrey/HEAD/tree/dc](https://github.com/dcondrey/HEAD/tree/dc)

[2016-06-03 07:46] TraderStf commented on #104
http://www.sitepronews.com/2016/06/01/google-revives-meta-content-with-longer-characters/

[2016-06-06 08:10] niksmac commented on #42
I am guessing, this will also end up like #110

[2016-06-06 08:21] ThaDafinser commented on #42
Adding an example of schema.org is more helpful, since it's getting more and more important

[2016-06-07 19:14] james2doyle opened #115 "Split into files"
This is pretty awesome! I usually end of having a ton a gists with different things in them.

I was wondering if there is any plan to break these out into files? Then the can be pulled directly into a project via their https://raw.githubusercontent.com URL.

I use [a plugin for Sublime Text](http://code.tutsplus.com/articles/introducing-nettuts-fetch--net-23490) that lets me fetch a URL and copy t

[2016-06-07 19:44] joshbuchea commented on #115
I just released an Atom package that has most of the snippets from HEAD: [HTML Head Snippets](https://atom.io/packages/html-head-snippets). But, that's only for Atom and also needs to be maintained separately.

For now, I'm trying to keep the project as one document. I think part of the value of this project is all of the information is available in one place. But, I've considered creating separat

[2016-06-07 19:49] james2doyle commented on #115
That sounds cool.

I thought about the plugin as well. But it would need to keep parity with the README updates. Which is one of the reasons single files would work nicely.

How about keeping the README but *also* having single files?

[2016-06-07 19:57] dodekeract commented on #115
What if we generate the README from the files?

[2016-06-07 20:03] marcobiedermann commented on #115
@joshbuchea @james2doyle I am currently working on a plugin for Sublime Text.
Will probably publish it today or tomorrow :)

[2016-06-07 21:09] marcobiedermann commented on #115
@joshbuchea @james2doyle
Just published the [Sublime Text snippets plugin](https://github.com/marcobiedermann/sublime-head-snippets).
Will have to wait for the approval and when done, I will ping you!

[2016-06-07 23:04] joshbuchea commented on #115
@dodekeract interesting idea. Although, I don't think I'd want to make a simple project complex by introducing a build step.

[2016-06-07 23:05] joshbuchea commented on #115
@marcobiedermann awesome man! On it! Definitely ping me when it's approved.

[2016-06-07 23:14] joshbuchea commented on #115
@james2doyle I think your suggestion is reasonable, and I see the value in the independent files for pulling in the most up-to-date snippets. Let me think about how best to approach this...

If we add separate files _also_, contributors then have to update two places. Three counting the TOC. Which isn't ideal...

[2016-06-08 06:02] ThaDafinser commented on #115
@joshbuchea keep this repo as simple as it is - no builds and no splitting.

Everybody is able to extract/split the information easily out of the `README.md` with just splitting by the headlines....

[2016-06-08 07:53] marcobiedermann commented on #42
Schema.org tags are really important for your page. But I think they should not be included in the head section.
99% of all Schema.org tags are used in the body markup.
You could add some properties like "author" or "date" to the head but in my opinion this information should appear in the page content.

[2016-06-08 20:22] jarrydfillmore commented on #115
:)

[2016-06-09 00:15] joshbuchea commented on #42
I agree with you @marcobiedermann. It does seem that 99% of Schema.org tags are in the body. I'm closing this for now. However, as always I am willing to discuss this decision.

[2016-06-09 00:15] #42 closed

[2016-06-09 07:34] SteveALee opened #121 "ie = edge"
How important is

'meta http-equiv="x-ua-compatible" content="ie=edge">'

It sticks out like a sore thumb in the recommended minimum section as is totally browser specific. That is bad in my mind. If there is an issue it should be resolved by the vendor and be temporary.

[2016-06-09 11:53] joshbuchea commented on #121
The tag is used in both [H5BP](https://github.com/h5bp/html5-boilerplate) & [Bootstrap](https://github.com/twbs/bootstrap); both projects I respect and look to for guidance when making decisions for HEAD. The tag isn't necessary unless you need to support < IE 11, but I don't plan dropping it until at least one of those two projects do. Thanks for the feedback @SteveALee!

[2016-06-09 11:53] #121 closed

[2016-06-10 03:50] HughIsaacs2 opened #122 "Meta theme-color isn't Android only"
Meta theme-color isn't limited to Google Android or Chrome. It's supported in Opera and Firefox OS (as the link below will reveal) and it's also supported in the Brave and Vivaldi browsers on desktop and even in the WebView tag in Electron (it was also even used by a dev preview version of Safari for the SVG icon color).

https://developers.google.com/web/fundamentals/design-and-ui/browser-customi

[2016-06-10 10:03] SteveALee commented on #121
PS - fantastic resource - thanks

[2016-06-10 14:19] joshbuchea commented on #121
Thanks @SteveALee 😊

[2016-06-10 17:42] LyndaJWilliams opened #123 "<meta http-equiv="X-UA-Compatible" content="IE=edge">"
Checked this out and can't decide from what I read if it should be in a minimal HEAD recommendation in 2016.  Seems from what I read that it matters only if one is coding for IE-9 and below browsers. I teach an intro course in HTML5 which is why I am interested.

http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e

[2016-06-10 18:00] joshbuchea commented on #123
Closing, duplicate of #121. I left a [comment](https://github.com/joshbuchea/HEAD/issues/121#issuecomment-224873084) on that thread with my reasoning for including this tag, and when I intend to drop it.

IE 10 & below was my understanding after reading the [x-ua-compatible](https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/html.md#x-ua-compatible) section of the H5BP Docs. But, I may

[2016-06-10 18:00] #123 closed

[2016-06-10 18:15] LyndaJWilliams commented on #123
Thanks. I'm a newbie to github so apologies for not knowing to search resolved comments. I'm sure you are right, re: 9 vs 10 ... I only did a quick google.

[2016-06-10 18:50] joshbuchea commented on #123
No apology necessary @LyndaJWilliams. I apologize, my reply was a bit curt. I should have included the quoted comment so you didn't have to navigate to another issue, and I could have thrown in a :smile: or two while I was at it.

[H5BP](https://github.com/h5bp/html5-boilerplate) & [Bootstrap](https://github.com/twbs/bootstrap) are both projects I respect and look to for guidance when making decis

[2016-06-10 19:08] LyndaJWilliams commented on #123
In general terms, given your rationale, I'd say it's worth including. Creates a dilemma for me as an instructor of an intro course, is all. How much advanced practice does one include when the curriculum outcomes don't touch on the topics implied? On the other hand, I am overhauling the course with an eye to plugging it into the real and evolving picture so it's something I'll ponder. Maybe give '

[2016-06-13 08:54] beeva-miguelsarries commented on #89
So before every tag there is a comment with a brief explanation, ¿what about adding a link to that comment leading to a more in detail page?

[2016-06-13 12:37] marcobiedermann commented on #115
My Sublime Text just got [published](https://packagecontrol.io/packages/HTML%20Head%20Snippets)!

[2016-06-13 17:22] joshbuchea commented on #115
Awesome @marcobiedermann! Will tweet a link. Thanks again for making this.

[2016-06-15 21:50] joshbuchea commented on #123
Well, welcome to GitHub @LyndaJWilliams! It's an excellent place for community & collaboration. Best of luck to you with your course design.

[2016-06-16 09:11] adityasiwan opened #126 "DNS prefetching"
As you mentioned

.
So, why not include DNS prefetching to it as it is quite an important one.

[2016-06-16 09:31] tomlutzenberger commented on #126
Do you have a link to documentation, examples, etc.?

[2016-06-16 09:31] marcobiedermann commented on #126
@adityasiwan This is already included in Line 272!

[2016-06-16 09:33] adityasiwan commented on #126
[https://developer.mozilla.org/en-US/docs/Web/HTTP/Controlling_DNS_prefetching](url)
[https://www.chromium.org/developers/design-documents/dns-prefetching](url)

[2016-06-16 09:39] adityasiwan commented on #126
``
`<link rel="dns-prefetch" href="//example.com/">`
Well, this is for "Forcing lookup of specific hostnames".

Whereas, i am suggesting "Turning on and off prefetching" which can be done using the meta tag.
Check here https://developer.mozilla.org/en-US/docs/Web/HTTP/Controlling_DNS_prefetching

[2016-06-24 20:08] nilfalse opened #128 "<href>s are in suboptimal order"
I notice that although a **Performance** section at the very bottom states that it is better to have `href` attribute first on any tags, all examples above that section have their `href`s put in different order.

Was that made occasionally? I'm going to create a pull request which would move all `href`s to the first position. Is this OK?

[2016-06-24 20:21] joshbuchea commented on #128
@nilfalse thanks for asking first! Excellent attention to detail! However, this is intentional to increase the overall readability of the project. Moving the href to the beginning of tag decreases the ability to quickly determine it's purpose at a glance.

[2016-06-24 20:24] joshbuchea commented on #128
See #80

[2016-06-24 20:26] #128 closed

[2016-06-28 06:59] marcobiedermann opened #129 "gh-pages: Links open in new tab"
@joshbuchea
I just noticed that all links on http://gethead.info/ open in a new tab.
Clicking through "Table of Contents" feels a bit weird.
That's because of `<base target="_blank">`.
I've created a little JavaScript snippet to open external links in a new tab.
[code]

If you like to, I could send you a pull request that resolves this issue :)

[2016-06-28 07:01] marcobiedermann opened #130 "Feature Request: Copy to clipboard"
I suggest adding an option to copy the code snippets to your clipboard.
[Clipboard.js](https://github.com/zenorocha/clipboard.js) is a nice JavaScript library which makes it super easy.
If you agree, I will start working on this :)

[2016-06-28 14:01] joshbuchea commented on #129
@marcobiedermann nice catch bruh 🙌 That's an awesome UX :laughing: How'd I not catch that one!? Yeah that'd be awesome man!

[2016-07-01 20:42] scottaohara commented on #129
heh, yeah, that's a fundamental rule i found out about ```<base>``` is that there's almost no scenario where setting a target attribute on it is a good idea.

[2016-07-01 23:29] joshbuchea commented on #129
Would have worked fine if there were no anchor links :) But I have to admit you're right @scottaohara. Every time I've used `<base>` it's come back to bite me in the ass at some point.

[2016-07-02 09:17] marcobiedermann commented on #129
`<base>` is actually really useful when working with static HTML files or single page applications like AngularJS. But never set the `target`attribute.

[2016-07-02 09:22] marcobiedermann commented on #115
@joshbuchea @scottaohara I think we can close this one.

[2016-07-02 09:26] marcobiedermann commented on #26
@garycourt Do you have a lint to the W3 specification of `type="module"`? Which browsers currently support this attribute?

[2016-07-02 13:18] scottaohara commented on #115
@marcobiedermann agreed.

[2016-07-02 13:18] #115 closed

[2016-07-04 06:45] marcobiedermann commented on #14
@jasonkarns 👍  Would you send us a pull request, so we can merge your changes in?

[2016-07-04 20:28] garycourt commented on #26
It's apart of the Living HTML Standard: https://html.spec.whatwg.org/multipage/scripting.html#attr-script-type

Currently, no browsers support it. But that will change quickly in the next 6 months.

[2016-07-04 22:18] dodekeract commented on #26
If you change the `<script/>` anyway, you should also add the integrity attribute.

[2016-07-05 12:56] jasonkarns commented on #14
The PR from @dcondrey above should do it.

[2016-07-05 21:53] #129 closed

[2016-07-06 22:33] #106 closed

[2016-07-09 16:28] niutech opened #135 "Many missing meta & link tags"
[BlackBerry OS](https://developer.blackberry.com/bbos/html5/documentation/supported_meta_tag_values_1457801_11.html):

[code]

[Google](https://support.google.com/news/publisher/answer/191283):

[code]

[Microsoft](https://msdn.microsoft.com/en-us/library/bb431690.aspx):

[code]

[P3P](https://www.w3.org/TR/P3P11/):

[code]

[DCMI](http://dublincore.org/):

[code]

Other:

[code]

[2016-07-10 12:01] adityasiwan commented on #126
Closing as https://github.com/joshbuchea/HEAD/pull/133 is merged

[2016-07-10 12:01] #126 closed

[2016-07-11 00:03] scottaohara commented on #135
Making note that the accepted [pull request 136](https://github.com/joshbuchea/HEAD/pull/136) addressed the following:

[code]

[2016-07-21 06:14] MatsSvensson opened #140 "Low Contrast"
Great list!

But a lot of the text has too low contrast to be comfortably read on many screens.
(and/or if you are over 40)

"Graying out" text is not  a good way to make it distinct  from other text.
It should only be used on text you don't want people to read.

[2016-07-21 06:54] MatsSvensson opened #141 "Onclick breaks page"
On http://gethead.info
...there seems to be some script that prevents you from selecting text to copy or search etc.

For example, highlighting a word or piece of text inside the code-parts of the page immediately changes the selection to instead select ALL of the surrounding code.

This makes it impossible to, for example, copy a piece of the text, or to use any right-click features of the browse

[2016-07-21 08:27] ThaDafinser commented on #140
@MatsSvensson i think you need to write that Github itself.
The README markup format/style is set by them.

[2016-07-21 08:54] MatsSvensson commented on #140
I meant the documentation on http://gethead.info/
I don't think GitHub has any control over what styles are used on that site.

Dragging GitHub out from the low-contrast era, is a project that's beyond me.
But others don't have to make the same mistakes.

[2016-07-21 08:57] brayniverse commented on #140
@MatsSvensson are you talking about the code comments? If so they are currently `#999`, which colour would be more legible to you?

[2016-07-21 09:02] brayniverse commented on #140
According to WebAIM the current `#f5f5f5` and `#999` combination fails all tests. The closest I could get to the original combination is `#fafafa` and `#555`.

Before
![Before](https://cloud.githubusercontent.com/assets/945367/17017165/2de7791a-4f2a-11e6-99ad-7580ac3d745d.png)

After
![After](https://cloud.githubusercontent.com/assets/945367/17017155/2274ada0-4f2a-11e6-990d-018f7d46227d.png)

[2016-07-22 03:55] dodekeract commented on #141
Can't reproduce this on Linux/Vivaldi(Chromium).

[2016-07-22 05:57] joshbuchea commented on #19
I'm closing this issue @jasonkarns. Open a PR if you feel up to it. Thanks man.

[2016-07-22 05:57] #19 closed

[2016-07-22 06:09] joshbuchea commented on #89
I'm closing this issue. Feel free to open pull requests if you feel an item or section needs more explanation.

[2016-07-22 06:09] #89 closed

[2016-07-22 08:18] dodekeract commented on #89
@joshbuchea if somebody wants to add explanation, you should state which format you'd prefer.

[2016-07-26 00:26] joshbuchea commented on #89
In most cases, I would prefer to see html comments placed with the associated tag(s).

[2016-07-28 18:46] joshbuchea commented on #130
@marcobiedermann apologies for not getting back to you on this sooner man. I haven't had much free time lately and have been neglecting my open source projects a bit. This sounds like a good idea to me 👍  My attempt to make it convenient to select/copy snippets by auto-selecting all text in a code block was a poor choice.

[2016-07-28 20:23] marcobiedermann commented on #130
@joshbuchea Yeah, no worries. I was also very busy the last few weeks. Maybe I can work on this issue this weekend :)

[2016-09-14 11:39] mikestreety commented on #141
I can verify this:

![lzhqvwrih7](https://cloud.githubusercontent.com/assets/354085/18510864/436e3a98-7a78-11e6-8ec2-8b12146d5eb8.gif)

[2016-09-14 19:51] joshbuchea commented on #141
Yeah I thought I was being clever when I implemented this feature. Turns out it creates more issues than it solves. Awesome animated gif example @mikestreety! I'll go ahead and remove the JavaScript snippet that adds this functionality. Thanks everyone!

[2016-09-14 21:11] marcobiedermann opened #148 "browserconfig and manifest.json"
This is similar to tile icons for Windows which should be added to a external browserconfig.xml.

[2016-09-15 04:31] #141 closed

[2016-09-15 23:17] mateusortiz opened #149 "Copy to Clipboard button"
What do you think adds a button copy to clipboard for website.

![Imgur](http://i.imgur.com/mytquq7.png)

cc // @joshbuchea

[2016-09-16 19:23] joshbuchea commented on #149
I think this is an excellent idea. This feature has been suggested previously by @marcobiedermann with issue #130 I'm going to go ahead and mark the issue as duplicate and close it.

Check with @marcobiedermann to see if he still is planning to implement this feature. If not, feel free to implement this feature and submit a pull request.

[2016-09-16 19:24] #149 closed

[2016-09-17 12:36] mateusortiz commented on #149
Ok @joshbuchea, thanks 👍

@marcobiedermann You was implement this feature or I can implement it?

[2016-09-24 15:21] #53 closed

[2016-09-24 16:23] joshbuchea commented on #104
Closing as this is and will be an ongoing effort.

[2016-09-24 16:23] #104 closed

[2016-10-31 17:03] y68 commented on #140
I just try to make some different style of syntax highlight which is on dark mode #152

[2016-11-07 18:47] selfthinker commented on #15
A lot of the Dublin Core metadata is [**invalid** in HTML5](http://stackoverflow.com/a/12784883).
So, if/when it gets added, there should at least be a little warning.

[2016-11-15 15:10] johnuberbacher opened #153 "Does the <title> not come first?"
Think I've heard <title> tags need to come first as per SEO but I may be wrong and this may be outdated knowledge

[2016-11-15 15:32] willpower232 commented on #153
Alas outdated thanks to peculiarities in IE IIRC. Would be nice to put it first though!

[2016-11-15 18:54] scottaohara commented on #153
yeh, there's no real need to have it first, but there are other tags that do need to appear as early as possible (setting a charset for example) to ensure content is rendered properly.

[2016-11-15 18:54] #153 closed

[2016-12-01 12:30] reclaimer opened #154 "Tell Pinterest to leave you alone"
[code]
— [Source](https://help.pinterest.com/en/articles/prevent-people-saving-things-pinterest-your-site).

(I consider Pinterest a cancerous thing in the internet.)

[2016-12-01 13:40] scottaohara commented on #154
Want to make a PR for this @reclaimer ?  Would be happy to bring it in.

[2016-12-01 20:10] #154 closed

[2017-01-26 13:27] karltaylor opened #158 "Info on how to contribute to gethead.me on README.md"
I just noticed there wasn't any info on how to get the project set up, I know it's obvious to some that the branch for the site is within gh-pages which means it's run on Jekyll, but maybe a little bit of information would be useful so people can get started quickly?

[2017-03-08 12:31] dakshshah96 commented on #130
I don't think the "Copy to Clipboard" functionality is possible with the current layout of the static site, which is made on Jekyll. All the content on http://gethead.info is parsed from the `README.md` file. It is simply not possible to add the copy functionality in a markdown file.

One possible solution would be to divide every code block into individual files and place them in the `_includes`

[2017-03-08 12:32] dakshshah96 commented on #158
Yes, I agree with you @karltaylor.

It would be helpful to have some mention of the `gh-pages` branch and the use of Jekyll somewhere in the contribution guide.

[2017-03-30 08:25] jaySolo commented on #140
Maybe using a different theme would work, since its GitHub Pages, the theme can be changed to something that has better highlighting.

I'm not certain if a theme can be edited though....i would be good if it was possible.

[2017-04-28 05:46] #158 closed

[2017-05-29 08:59] davidpelayo opened #165 "Google Chrome specifics"
[Here](https://github.com/joshbuchea/HEAD#google-chrome) there is a typo:

[code]
The `meta` should have the attribute `content="notranslate"` instead of `value`.

[2017-05-29 09:04] davidpelayo opened #166 "Link specifics"
[Here](https://github.com/joshbuchea/HEAD#link) there is a typo:

[code]

The `link` should have the attribute `rel="license"` instead of `copyright`. [More info here](https://www.w3.org/TR/html5/document-metadata.html#attr-link-rel).

[2017-05-30 00:54] #165 closed

[2017-05-30 01:00] joshbuchea commented on #166
Looks good 👍  Thanks for contributions @davidpelayo!

[2017-05-30 01:01] #166 closed

[2017-09-07 06:38] Lutece opened #170 "Korean version"
I translated HEAD's README.md to korean,
so i sent PR about this issue yesterday.

PTAL :)

Thanks for make 'HEAD'

[2017-09-07 22:32] #170 closed

[2017-10-26 06:13] kailashvele opened #174 "Language Specification in Header"
Option to specify the language is missing, without that Chrome cannot suggest the full page translation also the content rendering may face some problem or performance problem as browser will have to identify it (maybe).

[2017-10-26 08:42] willpower232 commented on #174
This interests me as I had not previously considered this scenario.

According to this https://webmasters.stackexchange.com/a/5073 google may well prefer the server to send the header rather than relying on meta data.

Furthermore, MDN suggests that specifying the language on `<html>` is now the preferred option and the meta tag is obsolete https://developer.mozilla.org/en-US/docs/Web/HTML/Element

[2017-10-26 11:02] scottaohara commented on #174
Hi @kailashvele,

The language for a document should be specified on the `html` element:

[code]

There was a `<meta http-equiv="Content-Language" content="en">` declaration that used to belong in the `head`. However this meta tag has been deprecated.

Setting the `lang` attribute on the `html` element, or on content wrapping elements within the `body` (if the language is different for a section o

[2017-10-26 11:02] #174 closed

[2017-10-26 11:31] kailashvele commented on #174
Sure, I considered it should be the part of document as well or we can add this point in the documentation that Lang meta is deprecated you can put it on html. :)

[2017-10-26 12:02] scottaohara commented on #174
There used to be a section for deprecated tags, but it was becoming more common for people to be making PRs for tags that belonged in the deprecated section, than useful content for the head.

The document was streamlined to only focus on the useful content that belongs in the head of a document, and anything that wasn't considered useful or falls outside of the head wasn't included.

You're right

[2017-10-26 13:28] kailashvele commented on #174
Oh Okay, sounds a valid reason :)

[2017-10-28 17:56] kleinfreund commented on #121
@joshbuchea As far as I can tell, Bootstrap dropped the tag (https://github.com/twbs/bootstrap/blob/v4-dev/_includes/header.html). If if both projects still have it, I don’t see a reason for maintaining it in the bare minimum example.

[2017-10-30 13:28] Martin-Pitt opened #179 "Slack Unfurling"
With increasing use of Slack and relevance for teams in sharing links to websites with each other, the concept of Unfurling might be a useful add on.

I'm not sure how it would be added to the site, but there is a popular medium article about how it works: https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb92

[2017-10-30 14:08] WolfHook commented on #179
Is this not already covered by the use of Facebook's OG meta?

_Similar to Twitter, Facebook developed Open Graph as a system to help other sites customize how their content is previewed on Facebook’s site and apps. Their basic markup reference covers everything you’d need for customizing your own Slack unfurl (as well as how your sites will appear on Facebook)._

[2017-10-30 18:54] Martin-Pitt commented on #179
Hm, interesting that twitter dropped the label1/data1 and label2/data2 properties.

What are the OG equivalents then?

[2017-11-01 18:52] barkan opened #181 "Show target attribute on base tag"
You can set the default target for links on base tag, as well.

`<base target="_blank">`

[2017-11-01 20:28] scottaohara commented on #181
You can do this, but it'd be a really bad idea to do so.

Putting a `target="_blank"` on the `base` would open every link of a document in a new window.

Best to use that attribute sparingly, and not to possibly create confusion that it's a recommendation to use it.

[2017-11-01 20:28] #181 closed

[2017-12-05 20:35] szepeviktor opened #185 "Fluid icon"
See https://webmasters.stackexchange.com/a/23697

GitHub has it also:
[code]

[2017-12-20 22:15] ndorfin opened #186 "<meta charset> is (mostly) redundant"
Hi!

Most hosts serve `text/html` with the `UTF-8` charset. Having a `<meta charset="UTF-8">` element is therefore redundant.

May I suggest adding a comment saying that declaring a charset is optional, but it's useful if users save the HTML to their device or the author wants to just work off the file system and not a host?

-S

[2017-12-21 03:23] scottaohara commented on #186
Hi @ndorfin,

In spite of its perceived redundancy, I'd submit that the cost benefit of continuing to promote the usage of the tag far out weighs the consequences of a situation where a `utf-8` declaration is needed, but is lacking.

For instance, the HTML 5 specification states that declaring a `doctype` or wrapping one's documents in `<html>` tags is optional.  Most of the time, browsers will ta

[2017-12-21 03:46] ndorfin commented on #186
All good, thanks.

I worry about the cargo-cult programming-ness of this and other patterns people follow, without fully understanding why they should or shouldn't be used.

Maybe it's worthwhile mentioning _why_ it's useful to add then?

[code]

[2017-12-21 03:54] scottaohara commented on #186
Heh, so we're coming from very similar mindsets then.  :)

I like what you got there, and if you want to open a PR to add that comment above the instance of `"utf-8"` in the [Elements](https://github.com/joshbuchea/HEAD#elements) portion of the document, that'd be great.

If you wanted, I'd be in favor of relocating that first comment out of the code block, the `<!-- Meta tags provide information

[2017-12-21 03:58] ndorfin commented on #186
Cool, OK :)

[2017-12-21 15:50] #186 closed

[2018-01-18 20:11] olehmelnyk opened #190 "Add Sailthru"
https://getstarted.sailthru.com/site/personalization-engine/meta-tags/

[2018-01-18 20:11] olehmelnyk opened #191 "Add Swiftype"
https://swiftype.com/documentation/meta_tags2

[2018-01-21 19:28] joshbuchea commented on #135
HEAD is a _curated_ collection of tags, rather than _comprehensive_. I'm not interested in adding any of these tags at this time, so I'm going to close this issue. If you feel adiment that a specific tag or group of tags should be included, please open a new issue for each tag or group of tags and we can discuss on a case-by-case basis. Thanks!

[2018-01-21 19:28] #135 closed

[2018-01-21 19:51] joshbuchea commented on #190
Thank you, but I'm not interested in adding these tags at this time.

Closing.

[2018-01-21 19:51] #190 closed

[2018-01-21 19:52] joshbuchea commented on #191
Thank you, but I'm not interested in adding these tags at this time.

Closing.

[2018-01-21 19:52] #191 closed

[2018-01-22 04:38] #122 closed

[2018-01-22 04:39] joshbuchea commented on #122
Added to meta section. Thanks @HughIsaacs2!

[2018-01-22 05:14] joshbuchea commented on #148
@marcobiedermann do you remember which tags specifically you were referring to in this issue?

[2018-01-22 05:17] joshbuchea commented on #26
Note: Add `async`, `defer`, and `integrity` attribute information and/or examples.

Closes #189

[2018-02-08 15:25] MysterAitch commented on #140
I'm a little late to this party but having only recently been introduced to your great reference project, my initial reaction to the website is I am in complete agreement that the code blocks are unnecessarily difficult to read. This is to the point that personally I'll not visit the website, and instead just view the rendering within the github repo directly.

Using such a [dark background](https

[2018-02-08 15:27] MysterAitch commented on #140
A brief experiment with the colours / adjusting sliders suggests swapping the following could be some quick wins, though I imagine it may be better to find a full theme and/or do it systematically:

- #e06c75 -> #ff7e86 (class nt - tag names)
- #d19a66 -> #ffaf2e (class na - tag attributes)
- #98c379 -> #6aff89 (class s - strings)
- #5c6370 -> #b4bdca (class c - comments)

I'm not entirely sure ho

[2018-02-18 19:42] Shidigital opened #192 "Add German Translation I made of this document to the List"
Hi Josh!
I made a German Translation of this document.
You can add it to the Translations List, if you want.
Link:  https://github.com/Shidigital/HEAD

Thank you for making this great document in the first place!  :-)

[2018-02-21 06:16] mmarvick commented on #179
This would unfurl fine on slack if `og:title`, `og:description`, and `og:image` were set -- it doesn't look like there are any tags for unfurling that would work on Facbeook, Twitter, Slack, etc. right now.

[2018-03-05 16:57] arturmamedov commented on #148
I want do the same question: is not better to configure browser tabs style, launch icon and ms-tile from manifest.json https://web-central.appspot.com/web/fundamentals/web-app-manifest/ and browserconfig.xml?

[2018-04-07 13:40] alvaroadlf opened #193 "Spanish Translation"
Hi!,

[I just translated HEAD into Spanish](https://github.com/alvaroadlf/HEAD/), could you add it to the list?

Thank you,
Regards

[2018-04-08 02:45] #193 closed

[2018-04-08 02:45] joshbuchea commented on #193
Added 👍

[2018-05-03 16:09] #192 closed

[2018-05-03 16:10] joshbuchea commented on #192
Apologies for the delay @Shidigital, link added.

[2018-05-03 16:16] joshbuchea commented on #14
@jasonkarns I'm going to go ahead and close this issue due to lack of movement. If you feel like making a PR, feel free to re-open.

[2018-05-03 16:16] #14 closed

[2018-05-03 16:29] joshbuchea commented on #179
@Martin-Pitt I would like to add a section to the document for Slack 👍  I'll try to tackle this in the near future, or if you feel motivated a pull request would be welcome 😀

[2018-05-03 16:40] joshbuchea commented on #185
🤔 I wasn't familiar with Fluid before this issue. Looking at the project's website and twitter profile, it's difficult to tell if the project is actively maintained. I'm also not sure if Fluid is common/popular enough to warrant including it. I'm going to have to decline, but thank you for your issue and your interest in improving this project.

[2018-05-03 16:40] #185 closed

[2018-05-03 16:44] szepeviktor commented on #185
OK.

At least there is as issue on it anybody can find.

[2018-05-03 16:48] joshbuchea commented on #14
Actually after reading the reasons [Stack Overflow is ending support for OpenID on July 1, 2018](https://meta.stackexchange.com/questions/307647/support-for-openid-ends-on-july-1-2018), I think I'd prefer to leave it out. Thanks for taking an interest in the project early in it's life @jasonkarns 🙌

[2018-05-03 16:56] joshbuchea commented on #185
@szepeviktor exactly 👍 This issue will now serve as a reference. Thanks for your contribution! 🙌

[2018-08-19 21:36] szepeviktor opened #195 "Promote HTTPS"
Hello!

Could we change all `http://` to `https://`?

I do proactive website maintenance and do not install non-https websites for years.

[2018-08-20 05:01] kanlukasz commented on #195
+1

[2018-09-22 01:14] joshbuchea commented on #195
@szepeviktor you know I actually did this a while back but, later reverted because I was concerned I _may_ have made the change too soon. I think now is the perfect time for this though. Let's do it!

[2018-09-22 01:15] #195 closed

[2018-09-22 03:59] szepeviktor commented on #195
OK.

[2018-11-18 20:40] e110c0 opened #198 "viewport meta tag doesn't reflect current best use for iOS"
with the iPhone X being over a year old and the iPad now having safe areas as well, changing the default viewport tag to something like `'initial-scale=1, viewport-fit=cover'` would be more appropriate.

[2018-11-19 13:36] scottaohara commented on #198
thanks!

[2018-12-09 17:18] joshbuchea commented on #198
Hey gentlemen, I'm not sure that `viewport-fit=cover` is a good default or that removing `shrink-to-fit=no` is necessary. Do either of you have any references to support these changes being better defaults? I'm going to go ahead and revert for now. In the future I would prefer to discuss changes to the recommended defaults. Thanks!

[2018-12-11 12:10] e110c0 commented on #198
I did not expect that change to just be merged TBH. I'd rather start a discussion and find out what a good default is.

Adding it to the documentation of what can be done and what it is for might be the better solution.

[2018-12-11 14:42] scottaohara commented on #198
yup.  i jumped the gun here by not providing reasoning why i merged the change.

Upon review / testing on iOS devices running v10.3, v11.x and 12.1 `shrink-to-fit` is no longer recognized or needed.

I'll be posting a write up about this soon.

[2018-12-11 17:52] scottaohara commented on #198
Report: https://www.scottohara.me/blog/2018/12/11/shrink-to-fit.html
tldr; `shrink-to-fit=no` became irrelevant during the iOS 9.3 lifecyle and beyond

[2018-12-13 21:12] scottaohara commented on #198
FWIW: [pull request to remove shrink-to-fit from HTML5 boiler plate](https://github.com/h5bp/html5-boilerplate/pull/2103)

[2019-01-08 22:35] joshbuchea commented on #198
Apologies for the late response, open source has been low on my list of priorities lately. Excellent writeup @scottaohara 👌 I'm on-board, let's remove `shink-to-fit=no`.

[2019-01-08 22:38] joshbuchea commented on #198
Also — FWIW @e110c0 I think we definitely should include `viewport-fit=cover` somewhere, just not sure if it belongs in the recommended minimum as it seems there are reports of it breaking websites by covering navigation and other controls.

[2019-01-08 22:52] scottaohara commented on #198
no worries @joshbuchea :)

[2019-01-08 22:54] joshbuchea commented on #198
@scottaohara I'm not sure how large this dataset is but, iOS **9.0-9.2.x** usage is only @ **0.17%** https://data.apteligent.com/ios/

[2019-01-08 22:55] #198 closed

[2019-01-08 22:58] scottaohara commented on #198
oh that's interesting.  thank you @joshbuchea.  going to update my article with that link

[2019-01-08 23:12] joshbuchea commented on #198
Oh yeah and almost forgot — @scottaohara thank you for doing that research and for publishing your findings 💯

[2019-01-08 23:14] scottaohara commented on #198
i like to share :)

[2019-01-09 11:53] e110c0 commented on #198
@scottaohara totally agree it's not a recommended minimum.

Having all possible options in the documentation would be nice. I still haven't figured out all pitfalls of it, so not comfortable with creating a PR at the moment

[2019-02-05 21:11] joshbuchea opened #201 "viewport-fit=cover"
We need to include `viewport-fit=cover`. It has existed for over a year (since iPhone X).

[2019-02-05 21:14] joshbuchea commented on #201
This was brought to our attention by @e110c0 in https://github.com/joshbuchea/HEAD/issues/198

[2019-02-19 03:13] patrick-mcdougle commented on #179
Slack has no unique tags that they implement. The article states that Slack will take information from as much as you have implemented. Ideally you have meta, og and twitter for the richest Slack unfurl.

[2019-03-09 05:04] toshihidetagami opened #204 "<meta http-equiv="set-cookie"> was removed from Chrome"
https://www.chromestatus.com/feature/6170540112871424
https://github.com/whatwg/html/issues/3076

According to the above links, http-equiv="set-cookie" was removed from Chrome and other browsers may follow suit.
Would it be better to remove from this list or mark it as deprecated?

[2019-03-13 20:21] joshbuchea commented on #204
Thanks for pointing this out @toshihidetagami. If Chrome removed it already let's go ahead and remove it too. If you want to create a pull request to remove it, I'd happily accept.

[2019-03-16 16:26] #204 closed

[2019-04-03 16:34] myfonj opened #207 "[question] Is this curated on comprehensive collection?"
@joshbuchea in https://github.com/joshbuchea/HEAD/issues/135#issuecomment-359273411 makes statement that

Current [project claim reads](https://github.com/joshbuchea/HEAD#head):

I see many deprecated or (presently) invalid entries were omitted (e.g. `DC.*`) or removed (eg. `keywords`) what supports first statement but FMOPW contradicts the latter.

In this case, shouldn't be that claim reworded t

[2019-04-03 17:30] scottaohara commented on #207
there was a purposeful change to move over to a curated collection.

the exhaustive documentation was, well, exhausting and incomplete.  There are tons of obscure and more importantly, completely bunk and useless meta elements out there.

Seems to me that the wording should just be updated in that one location to rectify this.  @joshbuchea you have other thoughts?

[2019-04-04 10:45] myfonj commented on #207
Thanks for clarification.

Exactly.  _If only there was some convenient document where all those traps and relics were debunked and explained in one place…_ (Pardon gentle irony.) I just wanted to point out that, perhaps, instead of simply removing or preventing some obsolete content it might be worth to archive it in some kind of "attic", accompanied with explanations why it is there.  This could

[2019-04-04 11:53] scottaohara commented on #207
Completely ignores

It's not just "some" content, it was a lot of useless junk.  One of the reasons it was all removed was because the document was almost more useless tags than actually stuff to put in the `head`.

[2019-04-04 12:32] myfonj commented on #207
It is quite clear indeed, and considering the scale of such disproportion it was truly reasonable move.  Still, idea of archived separate growing "junkyard" isolated from main `HEAD` curated core just for historical and curiosity purposes is quite appealing to me, because such complement could add former comprehensiveness without compromising tidiness of the core.  But probably not worth the effor

[2019-09-30 21:50] cup commented on #26
any updates on this? I came here as I saw `defer` was missing from here:

https://htmlhead.dev

it should be there, if need be drawbacks can be included as well

[2019-09-30 22:06] scottaohara commented on #26
would you like to submit a PR? :)

[2019-10-01 01:49] Joshfindit commented on #207
@myfonj If you forked this repo, you would have a decent starting point for creating such an archive. I suspect that the two projects could effectively market each other as well

[2019-10-01 01:51] Joshfindit commented on #207
To close the ticket however, a simple re-wording seems the course that’s most fitting with the current project goals

[2019-10-03 02:48] bmix commented on #15
Are those DC metadata items also invalid in XHTML5?

[2019-10-03 13:05] jasonkarns commented on #15
Most of what is said in that stackoverflow link isn't entirely correct. The SO post states that additional link relations _need_ to be added to the registry. Except the spec itself only states _may_. And for the table of listed meta values, the spec itself states the table is `non-normative`.

Also, the DC metadata is listed in the valid meta extensions table from whatwg. (https://wiki.whatwg.org/

[2019-10-03 21:37] selfthinker commented on #15
I think it was correct at the time, but things have changed since then. The HTML validator has also been updated since then. All (or most?) Dublin Core metadata is valid HTML5 nowadays.

[2019-10-26 14:26] Vadorequest opened #214 "[Meta] Geo tags - Usage/usefulness"
I don't  understand how the meta "Geo tags" are used by the browser. Reading the wiki page didn't help, could a bit more explanation be added to the README ?

![image](https://user-images.githubusercontent.com/3807458/67621076-5ffa1900-f80d-11e9-8dd3-15cec8f30e23.png)

[2019-10-31 18:06] joshbuchea commented on #15
Would be curious to hear a few more opinions on this matter. I haven't researched it enough yet to determine what I think should be included in this project.

@jasonkarns any chance you'd want to open a PR? Apologies if we/I already asked you in the past, I only ask because you've been the biggest advocate for Dublin Core metadata in this project.

[2020-01-27 11:13] ThomDietrich opened #216 "Feedly specific metadata"
Hey guys, great project!

Are you willing to add further application specific metadata? I'd suggest to add Feedly:

* https://blog.feedly.com/10-ways-to-optimize-your-feed-for-feedly/
* https://alligator.io/rss/optimizing-rss-feed-feedly/

[2020-02-17 11:39] akdnfbf opened #217 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:35] helen119 opened #219 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:40] CodePosse commented on #219
flagged and reported

[2020-02-17 16:09] helen610 opened #220 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 17:10] helen773 opened #221 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 18:54] heken375 opened #222 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:29] scdsfvd opened #223 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/wyb476h

[2020-02-17 20:29] scdsfvd opened #224 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/wyb476h

[2020-02-18 09:34] helen225 opened #226 "100$ for registration for everyone! 💰💰💰"
Register on this site and get $ 100! It's free!
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:04] helen225 opened #227 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:39] helen225 opened #228 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 12:04] helen225 opened #229 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 13:18] helen884 opened #230 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/uu5drcp

[2020-02-18 15:09] helen3371 opened #231 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/uu5drcp

[2020-02-18 15:42] dschmidthawk opened #232 "Getting Spammed..."
I'm subscribed to your thread, but recently getting spammed from this account.  Any solution in sight?

[2020-02-18 15:46] CodePosse commented on #232
It is a bot that is spamming multiple repos.

[2020-02-18 15:53] afuno commented on #232
@dschmidthawk
<img width="324" alt="Снимок экрана 2020-02-18 в 18 53 41" src="https://user-images.githubusercontent.com/2853419/74752617-02884d00-5280-11ea-96d2-f1cbed6aa233.png">

[2020-02-18 17:29] dschmidthawk commented on #232
Thanks

[2020-02-18 17:29] #232 closed

[2020-02-19 09:29] helena8823 opened #234 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:17] helena2299 opened #235 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:50] helena7732 opened #236 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/qp4t24k

[2020-02-19 11:47] kate5578 opened #237 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 12:10] SilverTee commented on #232
same for me, ty

[2020-02-19 17:16] kate5586 opened #240 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 19:27] hleila1837 opened #243 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-20 07:52] nika7732 opened #246 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://tinyurl.com/srmjb2y

[2020-02-23 08:50] dehghani-mehdi opened #250 "Meta viewport is not same as mentioned version by bootstrap."
Hi,

Your version of meta viewport (`<meta name="viewport" content="width=device-width, initial-scale=1">`) is not same as mentioned version in [bootstrap docs](https://getbootstrap.com/docs/4.4/getting-started/introduction/#starter-template) (`<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">`).

I'm wondering which one is better option?

[2020-02-23 12:33] willpower232 commented on #250
see https://github.com/joshbuchea/HEAD/issues/198

[2020-02-25 03:06] joshbuchea commented on #250
Thanks @willpower232

@dehghani-mehdi if you read the discussion in #198 we opted to remove it because:

I am curious to know why it's still included in the Bootstrap docs, because it looks there was a [discussion](https://github.com/twbs/bootstrap/issues/27861) and ultimately it was [removed from the project](https://github.com/twbs/bootstrap/pull/28314/files).

I tried poking around for the curr

[2020-02-25 05:42] dehghani-mehdi commented on #250
In [v4-dev branch](https://github.com/twbs/bootstrap/edit/v4-dev/site/docs/4.4/getting-started/introduction.md), the `viewport` still is same as website. I don't know if it is the right file or not tho.

[2020-02-27 19:52] gromovadarya90 opened #251 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:14] TejasQ commented on #251
no thanks

[2020-02-27 22:02] renata2216 opened #252 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:22] renata7738 opened #253 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:35] helen798 opened #256 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:27] helen78989 opened #257 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-03-03 18:53] joshbuchea commented on #250
@dehghani-mehdi I'm not 100%, but that looks like the correct branch 👍

This is a good opportunity for someone to open a PR on the [bootstrap repo](https://github.com/twbs/bootstrap/). If no one gets around to it after a bit, I'll probably open up a PR when I have some free time.

[2020-03-04 06:02] dehghani-mehdi commented on #250
[Done](https://github.com/twbs/bootstrap/pull/30331)

[2020-03-04 06:55] dehghani-mehdi commented on #250
@joshbuchea [Done](https://github.com/twbs/bootstrap/pull/30332)

[2020-03-04 07:17] XhmikosR commented on #250
v4-dev branch supported and supports those old iOS devices.

[2020-05-15 06:35] noriellecruz commented on #126
It should also be noted that dns prefetching must be place before other tags, I don't see this in the published guide.

[2020-08-07 13:34] Jrock-ai opened #259 "Yes"

[2020-08-07 13:35] Jrock-ai commented on #259
T

[2020-08-07 20:29] Jrock-ai opened #260 "Going to Mickey and pool lying to you relay at Canaan and I believe Abu have a Melaleuca"
Going to Mickey and pool lying to you relay at Canaan and I believe Abu have a Melaleuca

__Originally posted by @Jrock-ai in https://github.com/kdn251/interviews/issues/167__

[2020-12-17 05:16] dehghani-mehdi commented on #250
Bootstrap team removed `shrink-to-fit=no` part in their v5's doc, so no need to do anything for this issue anymore.

[2020-12-17 05:16] #250 closed

[2021-01-05 02:20] talltotal opened #266 "color-scheme"
[code]

[2021-01-08 09:32] willpower232 commented on #266
I had no idea this existed seems very neat based on https://web.dev/color-scheme/

Apparently `supported-color-schemes` was the original way of doing it but isn't in the spec any more (https://bugzilla.mozilla.org/show_bug.cgi?id=1525107#c1)

[2021-05-04 18:45] enyoghasim opened #268 "REMOVAL OF DEFAULT TITLE COMPLEMENT"
like react helmet is there a way of removing the default complement title from showing?

[2021-05-06 08:24] willpower232 commented on #268
do you mean you want an empty title in the browser?

[2021-05-06 09:16] enyoghasim commented on #268
@willpower232  it was actually a mistake wanted to open on another repo well thanks for your help

[2021-05-06 09:16] #268 closed

[2021-05-23 11:19] adam314315 opened #269 "Meta tag order in <head>"
Is there any official source(s) defining meta tag orders in `<head>` tag such as reported below or is it a best practice / recommandation?

[code]

[2021-05-23 12:48] rhymeswithmogul commented on #269
The HTML5 spec says <meta charset> and <title> must be first and second, respectively.  Other than that, it's however you want it.

[2021-05-23 20:12] adam314315 commented on #269
@rhymeswithmogul Thanks. I actually cannot find this rule in the HTML5 spec: https://www.w3.org/TR/html50/

[2021-05-23 22:06] rhymeswithmogul commented on #269
Well, I must have mis-remembered!  The only thing I could find out is that [the `<meta charset>` tag must appear within the first 1024 bytes of the document](https://html.spec.whatwg.org/multipage/semantics.html#charset).  In theory, [if a user agent encounters the `charset` declaration late and it guessed incorrectly, it may have to "reload" and re-interpret the page](https://github.com/GoogleChr

[2022-05-03 22:42] Fikkii opened #277 "Web developing..."

[2022-08-18 06:35] Jayteezany opened #278 "Background and foreground colors do not have a sufficient contrast ratio."
I saw this, and knowing how unsafe its for the eye i whish to fix it.

[2022-11-20 10:52] Rufai5 opened #280 "https://github.com/getify/You-Dont-Know-JS/blob/1st-ed/up%20&%20going/ch1.md"